body {
        margin: 0px;
        padding: 0px;
}
.menu{
        background-color: skyblue;
        height: 80px;
        margin: 10px;
}
nav ul li{
        list-style-type: none;
        display: inline-block;
        padding: 10px;
}
ul li a{
        color: black;
        letter-spacing: 0.1rem;
}
.itemMenu li{
        float: left;
        padding: 35px;
}
.itemMenu li a{
        text-decoration: none;

}

table { 
        border: 2px solid whitesmoke;
        margin: auto;
        }

td {
        color:whitesmoke;
        border: 1px solid whitesmoke;
        text-align: center;
    }

th
{
        color: whitesmoke;
        border: 1px solid whitesmoke;
        font: bold;
}

body{
        background-color:black;
    }

#titre
{
        color:moccasin;
        font-size: 50px;
        display: flex;
        justify-content: center;
}

